<h1>Owners</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Phone</th>
      <th>Emergency name</th>
      <th>Emergency phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.last_name %></td>
        <td><%= owner.first_name %></td>
        <td><%= owner.phone %></td>
        <td><%= owner.emergency_name %></td>
        <td><%= owner.emergency_phone %></td>
        <td><%= link_to fa_icon("eye", text: 'Show'), owner, class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to fa_icon("pencil", text: 'Edit'), edit_owner_path(owner), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to fa_icon("trash-o", text: 'Delete'), owner, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owner', new_owner_path, class: "btn btn-success" %>
